<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div width="100%">
                        <img src="assets/images/logo-insa.jpg" height="100px"  />
                        <div class="right-align" style="margin-top: -100px">
                            <img src="assets/images/logo-iss.jpg" height="100px" />
                        </div>
                    </div>
                    <h4>Who I am ?</h4>
                    <table class="table bordered">
                        <tr>
                            <td><b>Name :</b></td>
                            <td>ALVAREZ Josué</td>
                        </tr>
                        <tr>
                            <td><b>Age :</b></td>
                            <td>22</td>
                        </tr>
                        <tr>
                            <td><b>Mail :</b></td>
                            <td><a href="mailto:j_alvare@etud.insa-toulouse.fr">j_alvare@etud.insa-toulouse.fr</a></td>
                        </tr>
                        <tr>
                            <td><b>Github :</b></td>
                            <td><a href="https://github.com/Scriptopathe">https://github.com/Scriptopathe</a></td>
                        </tr>
                        <tr>
                            <td><b>Interests :</b></td>
                            <td>Music composition and playing, video-game design, hiking, and... Science !!!</td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col s6">
            <div class="card">
                <div class="card-content" style="text-align: center">
                    <h4>Competence matrix</h4>
                    <a [routerLink]="['/matrix']"><img src="assets/images/matrix.png" width="30%" /></a>
                </div>
            </div>
        </div>

        <div class="col s6">
            <div class="card">
                <div class="card-content" style="text-align: center">
                    <h4>My experiences</h4>
                    <a [routerLink]="['/portfolio']"> <img src="assets/images/experiences.jpg" width="30%"/></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <h4>Competence summary</h4>
                    <p style="text-align: center">
                    <img width="75%" src="assets/images/competences.png" />
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <h4>List of experiences</h4>
                    <table class="table bordered highlight">
                        <thead>
                            <tr>
                                <th width="40">Year</th>
                                <th width="100">Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr [class]="getColor(entry)" style="line-height: 0.5em" *ngFor="let entry of entries">
                                <td>{{ entry.year }}</td>
                                <td>{{ exp2str(entry.experienceType) }} </td>
                                <td>{{ entry.name }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <h4>Curriculum Vitae</h4>
                    
                    <object data="assets/cv.pdf" type="application/pdf" width="100%" height="1200px">
                        <a href="assets/cv.pdf">Link</a>
                    </object>
                </div>
            </div>
        </div>
    </div>
</div>