<nav>
    <!-- <div class="nav-wrapper blue darken-3">
        <a routerLink="/" class="brand-logo center">Portfolio</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a routerLink='/presentation'>My presentation</a></li>
        <li><a routerLink='/portfolio'>My experiences</a></li>
        <li><a routerLink='/matrix'>Competence Matrix</a></li>
        </ul>
    </div> -->

    <div class="nav-wrapper blue darken-3">
      <a routerLink="/" class="brand-logo"><i class="material-icons">cloud</i>Portfolio</a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink='/presentation'><i class="material-icons left">perm_identity</i> Presentation</a></li>
        <li><a routerLink='/portfolio'><i class="material-icons left">library_books</i> Portfolio</a></li>
        <li><a routerLink='/matrix'><i class="material-icons left">view_module</i> Matrix</a></li>
      </ul>
    </div>
</nav>